.header {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Alegreya Sans", sans-serif;

  &__nav {
    border-top: 1rem solid $border-color;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2.5rem;
    background-color: $nav-color;
  }

  &__list {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
  }

  &__item {
    font-size: 1.7rem;
    font-weight: 800;
    &:not(:last-of-type) {
      margin-right: 2.5rem;
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: darken(#eeeeee, 35);
  }

  &__logo {
    height: 6rem;
    border-radius: 20px;
    box-shadow: 0 1rem 2rem rgba(#000000, 0.4);
  }

  &__hero {
    margin-top: 1.25rem;
    height: calc(100vh - 11.25rem);
    background-image: url(../img/hero.png);
    background-size: cover;
    background-position: top;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    color: $color-white;
    padding: 0 5.5rem;
    line-height: 0.9;
  }

  &__sub-title {
    font-size: 6.25rem;
    font-weight: 400;
  }
  &__title {
    font-size: 11rem;
    letter-spacing: 0.45rem;
  }
}
