//Styles for the Modal Component

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: rgba($color-black, 0.6);
  z-index: 1000;
  animation: appear 0.3s ease-in-out;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 65%;
  transform: translate(-50%, -50%) skewX(-10deg);
  background-image: linear-gradient(
    263deg,
    rgba(218, 255, 176, 0.8942927512801996) 0%,
    rgb(150, 250, 210) 35%,
    rgba(168, 255, 205, 0.871) 73%,
    rgb(157, 236, 225) 100%
  );
  background-size: cover;
  z-index: 2000;
  opacity: 1;
  animation: appear 0.3s ease-in-out;
  padding: 2rem;

  @media only screen and (max-width: $bp-desktop-xs) {
    padding: 2rem 0;
  }
  @media only screen and (max-width: $bp-small) {
    transform: translate(-50%, -50%) skewX(-7deg);
  }
  $bp-small: 40.625em;

  & > * {
    transform: skewX(10deg);
    @media only screen and (max-width: $bp-small) {
      transform: skewX(7deg);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__main {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 1rem 0 1rem 4rem;
    width: 100%;

    @media only screen and (max-width: $bp-tab-portrait) {
      display: none;
    }
  }

  &__img {
    display: block;
    border-radius: 25px;
    height: 25rem;
    filter: sepia(50%);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    @media only screen and (max-width: $bp-desktop-xs) {
      height: 20rem;
      border-radius: 15px;
    }
  }
  &__title {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 900;
    font-style: italic;
    color: #567cbe;
    margin: 1.5rem 0 0 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: skew(8deg, -2deg) scale(1.1);
      text-shadow: 0.5rem 1rem 3rem rgba($color-black, 0.4);
    }
  }

  &__price {
    text-align: center;
    display: inline-block;
    font-weight: 400;
    font-style: italic;
    font-size: 1.8rem;
    color: $color-black;
    padding: 1rem 0;
  }

  &__details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  &__close {
    position: absolute;
    display: inline-block;
    line-height: 1;
    top: -1.75rem;
    right: 0;
    font-size: 7rem;
    outline: none;
    border: none;
    background-color: transparent;
    color: $border-color;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      color: $color-red;
    }

    @media only screen and (max-width: $bp-tiny) {
      font-size: 6rem;
    }
  }

  &__description {
    font-size: 1.3rem;
    font-weight: 300;
    width: 80%;
    text-align: justify;
    @media only screen and (max-width: $bp-tiny) {
      font-size: 1.15rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    @media only screen and (max-width: $bp-tab-portrait) {
      width: 100%;
    }
    @media only screen and (max-width: $bp-extra-small) {
      width: 90%;
    }
  }

  &__form-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    @media only screen and (max-width: $bp-tab-portrait) {
      flex-direction: column;
      width: 100%;
    }
    @media only screen and (max-width: $bp-extra-small) {
      margin-bottom: 2.5rem;
    }

    & > * {
      &:not(:last-child) {
        margin-right: 2.5rem;
        @media only screen and (max-width: $bp-tab-portrait) {
          margin: 0;
          margin-bottom: 2.5rem;
        }
      }
    }
  }
  &__group {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: $bp-tab-portrait) {
      width: 100%;
    }
  }

  &__input {
    margin: 0 auto;
    font-family: inherit;
    color: darken(#eeee, 40);
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    transition: all 0.25s ease;
    @media only screen and (max-width: $bp-desktop-xs) {
      padding: 1rem 1.75rem;
      width: 90%;
    }
    @media only screen and (max-width: $bp-tab) {
      padding: 1rem 1.75rem;
      width: 85%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid green;
    }
    &:focus:invalid {
      border-bottom: 3px solid red;
    }
    &::-webkit-input-placeholder {
      color: darken(#eeee, 40);
    }
  }

  &__label {
    position: absolute;
    font-family: inherit;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 6rem;
    display: block;
    transition: all 0.3s;
    @media only screen and (max-width: $bp-tab-portrait) {
      margin-left: 6.3rem;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__button {
    border: none;
    background-color: darken(#96fad2, 40);
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    font-weight: 700;
    font-style: italic;
    color: $color-white;
    margin: 3rem 0 0 0;
    border-radius: 25px;
    outline: none;
    transition: all 0.25s ease;

    &:hover {
      background-color: darken(#96fad2, 25);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
      transform: scale(1.1);
    }
  }
}

.hidden {
  display: none;
}

//Keyframes for the Modal Animations
@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
